.Container {
  /* border:1px solid white; */
}

.Row {
  /* border:1px solid white; */
  padding:15px;
}

.Col {
  /* border:1px solid white; */
  margin-bottom: 15px;
}

.App {
  background-color:rgb(177, 198, 198);
  
}

.book {
  text-align: center;
  padding:15px;
  background-color:yellowgreen;
  border-radius: 5px;
}